html {scroll-behavior: smooth;}
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    padding-top: 60px;
    line-height: 1.5;
    background-color: #fff;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    color: #000;
}
h1, .h1 {font-size: 1.9em;}
h2, .h2 {font-size: 1.7em;}
h3, .h3 {font-size: 1.15em;}
h4, .h4 {font-size: 1.1em;}
h5, h6, .h5, .h6{font-size: 1em; }

p,li {color: #666; font-size: 1em;}
a {color: #444; text-decoration: none;  transition: 0.3s; cursor: pointer;}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #962A30;
    color: #fff;
    cursor: pointer;
  }
  .topbtn button:hover{
      background: #000;
      color: #fff;
  }

  .text-primary{
    color: #962A30!important;
  }

.error{
  color: red;
}

.bg-red{
  background-color: #fbefef;
}
/*--------section header start---------*/

.nav-link{color: #fff!important; font-size: 0.8em; font-family: 'Montserrat', sans-serif; font-weight: 600;}
.bg-color{background: #962A30!important; }

@media screen and (max-width: 480px) {
    .home_nav{padding-left: 8px;}
}

/*--------section header end---------*/

/*--------section banner start---------*/
.banner-section{
  max-width: 100%;
  /* overflow: hidden; */
}

.banner-section .containers{
  position: relative;
  width: 100%;
  display: flex;
}

.banner-section section{
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 100px;
  height: 100vh;
}

.banner-section section:nth-child(1){
  background-color: #d0eaff;
}

.banner-section section:nth-child(2){
  background-color: #e2fcff;
}

.banner-section section:nth-child(3){
  background-color: #fce8f4;
}

.scroll_progress_wrap {
  position: relative;
  width: 100%;
  bottom: 120px;
  left: 0;
  display: block;
}

.indicator #playing{
  margin-top: -20%;
 }

.indicator #walking{
 margin-top: -8%;
}

#walking{
  position: relative;
  
}

.scroll_progress_head {
  font-style: italic;
  padding-right: 20px;
  float: left;
  width: 200px;
  font-size: 14px;
}

.scroll_progress_bar {
  width: calc(100% - 200px);
  height: 1px;
  float: left;
  background-color: #aaa;
  position: relative;
  margin-top: 11px;
}

h1.banner-head{
  /* font-family: 'Caveat', cursive; */
  text-transform: none;
  font-size: 36px;
  font-weight: 600;
}

a.my-btn {
  background-color: #962A30;
    color: #fff;
    border: none;
    font-size: 0.8em;
    border-radius: 25px;
    letter-spacing: .28px;
    font-weight: bold;
    padding: 12px 60px;
    line-height: 128%;
    margin-bottom: 20px;
    text-decoration: none;
}

a.my-btn:hover {
  background-color: #bd5319;
    color: #fff;
}

a.my-btn-info {
  background-color: #962A30;
    color: #fff;
    border: none;
    font-size: 0.7em;
    border-radius: 25px;
    letter-spacing: .28px;
    font-weight: bold;
    padding: 8px 25px;
    line-height: 128%;
    margin-bottom: 20px;
    text-decoration: none;
}

a.my-btn-info:hover {
  background-color: #bd5319;
    color: #fff;
}

button.my-btn {
  background-color: #962A30;
    color: #fff;
    border: none;
    font-size: 0.8em;
    border-radius: 25px;
    letter-spacing: .28px;
    font-weight: bold;
    padding: 12px 60px;
    line-height: 128%;
    margin-bottom: 20px;
    text-decoration: none;
}

button.my-btn:hover {
  background-color: #bd5319;
    color: #fff;
}


/* .What-we-do{
  background-image: url(../src/assets/what-we-do-bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  height: auto;
} */

span.we-do-color{
  color: #000;
  font-weight: 400;
}

.school_network{
  background-image: url(../src/assets/about-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  background-position: center;
  background-size: cover;
  height: auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.find-pod-img{
  height: 150px;
}
/*--------section banner end---------*/

.floating-btn{
  position: -webkit-sticky;
  position: sticky;
  top: 350px;
  z-index: 99;
  padding-right: 20px;
}

.parent-banner-img{
  height: 75vh;
}

.overlay1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: .5;
}

.carousel-caption {
  position: absolute;
  top: 25%;
}

h1.banner-head1{
  /* font-family: 'Caveat', cursive; */
  text-transform: none;
  font-size: 45px;
  font-weight: 800;
}

.banner-italic{
  text-transform: none;
  font-size: 30px;
  font-weight: 800;
}

.pod-search-now{
  margin-top: 30px;
}

.bg-blue{
  background-color: #962A30;
  height: 100%;
  padding-top: 20%;
}

.k-advantage li{
  padding-bottom: 2%;
}

.start_journey{
  background-image: url(../src/assets/start-journey-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  background-position: center;
  background-size: cover;
  height: auto;
}

.carousel-indicators li {
  background-color: #962A30!important;
}

.testimonial .pic:after{
  content: "";
  display: block;
  width: 80%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 10%;
  border: 1px solid #000;
}

.contact-banner-img{
  width: 100%;
  height: 80vh;
}

.p-form li{
  padding-bottom: 20px;
}

a.wp-rights{
  text-decoration: none;
  color: #962A30;
}

.pagination {
  display: flex;
  justify-content: start;
  font-size: 12px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li.active a {
  background-color: #962A30;
  color: #fff;
}

.pagination a {
  border-radius: 5px;
}

.pagination li:hover:not(.active) {background-color: #ddd; border-radius: 5px;}


.divider {
    width:100%; 
    text-align:center; 
    border-bottom: 1px solid #444; 
    line-height:0.1em; 
    margin:10px 0 20px; 
    font-size: 14px;
}

.divider span{
  background:#fff;
  padding:0 10px; 
}

.btn-google {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px #ddd
}

.t-profile{
  border-radius: 50%;
  height: 200px;
}
/*--------footer-area start---------*/
.footer-area{
  background-color: #962A30;
} 

.icon-info i{
    font-size: 20px;
    color: #fff;
}

.footer-area a{ 
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.footer-bottom p{ 
    color: #fff;
}

.footer-info p {
  font-size: 13px;
  color: #fff;
}

.footer-info li {
    padding-bottom: 10px;
    font-size: 13px;
    color: #fff;
}

.footer-widget h4.widget-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.bottom-line {
  border-bottom: 1px solid #bfc4db;
}

a[rel="noopener"],.gmnoprint{
  visibility: hidden;
}

/*--------footer-area end---------*/


@media screen and (min-width: 1900px) {

  h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: 1.0;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    color: #000;
  }

  .banner-section section{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 250px;
    height: 100vh;
  }

  h1.banner-head{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 9vh;
    }

    .carousel-caption {
      position: absolute;
      top: 35%;
    }
  
}

@media screen and (max-width: 600px){
  iframe{
    width: 100%;
    height: auto;
  }

  .banner-parent, .banner-teacher, .banner-pre-school{
    text-align: center;
  }

  .find-pod-img{
    width: 100%;
    height: 200px;
  }

  .carousel-caption {
    position: absolute;
    top: 25%;
  }

  h1.banner-head1 {
    /* font-family: 'Caveat', cursive; */
    text-transform: none;
    font-size: 25px;
    font-weight: 800;
  }

  .banner-italic {
    text-transform: none;
    font-size: 15px;
    font-weight: 800;
}

  .bg-blue {
    background-color: #962A30;
    height: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
}

.parent-banner-img {
  height: 45vh;
}

.contact-banner-img{
  height: 45vh;
}

/* .carousel-caption, .teachers-cap {
  position: absolute;
  top: 10%;
} */

}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1099; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
